/* Paleta de colores/fuentes */
:root {
    --fuenteLetras: 'Josefin Sans', sans-serif;
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --blanco: #FFF;
    --negro: #000;
    --morado: #9400d3;
    --rojo: #cd5c5c;
    --verde: #008000;
    --verdeclaro: #adff2f;
    --azul: #0000ff;
    --azulclaro: #00bfff;
  }
  
  /* Globales */
  body {
    background-color: var(--primario);
    color: var(--blanco);
    font-size: 1.6rem;
    line-height: 1.5;
    cursor: url(../static/img/paws.png), auto;
  }
  
  h2 {
    font-size: 3.2rem;
    text-align: center;
  }
  
  h3 {
    font-size: 2.4rem;
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  
  a {
    text-decoration: none;
    text-transform: uppercase;
    cursor: url(../static/img/shake.png), auto;
  }  
  
  button {
    cursor: url(../static/img/shake.png), auto;
  }

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--primario    );
  }
  
  header .logo {
    display: flex;
    align-items: center;
  }
  
  header .logo img {
    height: 100px;
    width: 130px;
  }
  
  header h1 {
    font-family: var(--fuenteLetras);
    font-size: 4rem;
    color: var(--blanco);
    margin: 0;
  }
  
  header .espacio {
    flex-grow: 1;
  }
  
  header .enlace {
    font-size: 1.6rem;
    color: var(--blanco);
    text-decoration: none;
  }

  header .sesion {
    display: flex;
    align-items: center;
  }
  
  header .usuario {
    margin-right: 1rem;
  }
  
  header .carro {
    display: flex;
    align-items: center;
    margin-top: -25px;
  }
  
  header .carro img {
    height: 30px;
    width: 30px;
  }  
  
  /* Media queries */
  @media (max-width: 768px) {
    header {
      flex-wrap: wrap;
    }
  
    header .logo {
      margin-bottom: 1rem;
    }
  
    header h1 {
      font-size: 3rem;
    }
  }  
  
  
  /* Nav-bar */
  .navegador {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  
  .navegador .enlace {
    font-family: var(--fuenteLetras);
    color: var(--blanco);
    font-size: 1.4rem;
  }
  
  .navegador .enlace--activo {
    font-family: var(--fuenteLetras);
    color: var(--secundario);
    font-size: 1.4rem;
  }
  
  .navegador .enlace:hover {
    color: var(--secundario);
  }
  
  /* Media queries */
  @media (max-width: 768px) {
    header {
      grid-template-columns: 1fr;
      justify-items: center;
      margin-left: 2rem;
      margin-right: 2rem;
    }
  
    header img {
      height: 150px;
      width: 195px;
    }
  
    header h1 {
      font-size: 5rem;
    }
  
    /* menú de navegación */
    .navegador {
      flex-direction: column;
      align-items: center;
    }
  
    .navegador .enlace {
      margin-bottom: 1rem;
    }
  }
  
  /* Subtitulo */
  .subtitulo {
    padding: 2rem;
  }
  
  /* Servicios */
  .servicios {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .servicios p{
    padding: 1rem;
  }
  
  @media (min-width: 768px) {
    .servicios {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 992px) {
    .servicios {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .servicio .iconos {
    height: 10rem;
    width: 10rem;
    background-color: var(--secundario);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .servicio p {
    line-height: 2;
  }
  
  /* Contacto */
  .ubicacion {
    display: flex;
    align-items: center;
  }
  
  .rrss {
    padding: 2rem 2rem 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .social {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .social h3 {
    color: var(--secundario);
    font-weight: normal;
  }
  
  .social p {
    line-height: 2;
  }
  
  .social .fb .iconos {
    height: 15rem;
    width: 15rem;
    background-image: linear-gradient(to bottom, var(--azul) 0%, var(--azulclaro) 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social .insta .iconos {
    height: 15rem;
    width: 15rem;
    background-image: linear-gradient(to top, var(--rojo) 0%, var(--morado) 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social .wspp .iconos {
    height: 15rem;
    width: 15rem;
    background-image: linear-gradient(to bottom, var(--verde) 0%, var(--verdeclaro) 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social svg {
    color: var(--blanco);
  }
  
  /* Horario */
  .horario {
    padding: 3rem;
  }
  
  .contenedor {
    max-width: auto;
    margin: 0 auto;
    border-radius: 3rem;
    background-color: var(--primarioOscuro);
  }
  
  /* Mapa (API) */
  .p-mapa {
    padding: 0 1rem 1rem 1rem;
  }
  
  #mapa {
    display: grid;
    grid-template-columns: auto;
    height: 300px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  
  .info-window {
    color: var(--negro);
    border-radius: 4px;
    font-size: 1rem;
    padding: 8px;
  }
  
  /* Agregar servicio */

  #ag-serv form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  #ag-serv button{
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  #ag-serv button:hover{
    background-color: var(--secundario);
  }

  #ag-serv h1{
    text-align: center;
  }

  /* Login */

  #login form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }

  #login button {
    width: 150px;
    margin: auto;
    cursor: url(../static/img/shake.png), auto;
    font-size: 24px;
  }

  #login button a {
    text-transform: none;
    color: var(--negro);
  }

  #login button:hover{
    background-color: var(--secundario);
    color: var(--negro);
  }


  /* Reservas */
  #reserva form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }

  #reserva form .form-group {
    margin-bottom: 20px;
  }
  
  #reserva form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  #reserva form input,
  #reserva form select {
    padding: 5px;
    width: 350px;
    height: 25px;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--blanco);
    font-size: 14px;
  }
  
  #reserva form .error {
    color: var(--rojo);
    font-size: 14px;
    margin-top: 5px;
  }
  
  #reserva form button {
    display: flex;
    width: 120px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20%;
  }

  .modal-content {
    text-align: center;
  }
  
  /* Carrusel */
  .custom-carousel-image {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    object-fit: cover;
  }
  

  /* Nosotros */
  .contenedor_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    flex: 1 0 calc(33.33% - 20px);
    max-width: 300px;
    box-sizing: border-box;
  }
  
  .card-carrito {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--primarioOscuro);
    padding: 10px;
    margin: 10px;
    flex: 1 0 calc(33.33% - 20px);
    width: 300px;
    height: 522px;
    box-sizing: border-box;
  }

  .card-img-top {
    border: 1px solid var(--blanco);
    height: 270px;
  }

  .card img {
    width: 100%;
    height: auto;
  }
  
  .card h3 {
    margin-top: 5px;
  }
  
  /* Modal */
  
  .modal-body,
  .modal-title {
    color: var(--negro);
  }
  
  .btn {
    background-color: var(--blanco);
    color: var(--negro);
    font-size: 1.7rem;
  }
  
  /* Trabajo */
  .titulo-trabajo {
    text-align: center;
    font-size: 4rem;
  }
  
  .cuerpo-trabajo {
    margin: 0 2rem;
  }
  
  /* Footer */
  footer {
    text-align: center;
    background-color: var(--primarioOscuro);
    margin-top: 2rem;
  }
  
  /* Estilos para los servicios */
  .services {
    display: grid;
    text-align: center;
    padding: 20px;
  }
  
  .service {
    display: inline-block;
    margin: 20px;
  }
  
  .service img {
    width: 200px;
    height: 200px;
  }
  
  .service h2 {
    margin-top: 10px;
  }
  
  .add-to-cart {
    margin-top: 10px;
  }
  
  /* Estilos para el carrito de compras */
  .cart-icon {
    position: fixed;
    top: 20px;
    right: 20px;
  }
  
  .cart-icon img {
    width: 40px;
    height: 40px;
    background-color: var(--primarioOscuro);
  }
  
  /* redondeo imagen servicios */
  .imgRedondeo {
    border-radius: 50%;
  }
  
  /* Tabla crud servicios admin */

  .table-container {
    margin-left: 20px;
  }
  
  .servicios-table {
    width: 97%;
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .servicios-table th,
  .servicios-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .servicios-table th {
    background-color: var(--primarioOscuro);
  }

  .servicios-table a {
    color: var(--blanco);
  }

  .servicios-table a:hover{
    color: var(--secundario);
  }
  
  .servicios-table td:last-child {
    text-align: center;
  }
  
  button#agregar-btn {
    display: flex;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--blanco);
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button#agregar-btn a {
    text-decoration: none;
    color: var(--negro);
  }
  
  button#agregar-btn:hover {
    background-color: var(--secundario);
  }
  
  @media only screen and (max-width: 768px) {
    .servicios-table {
      width: 100%;
    }
  
    .servicios-table th,
    .servicios-table td {
      padding: 8px;
    }
  }

  /* Carrito */

  .agregar-servicio{
    border: var(--negro);
  }

  .agregar-servicio:hover{
    background-color: var(--secundario);
    color: var(--negro);
  }

  .carrito tr{
    display: flex;
    justify-content: space-between;
    background-color: var(--primarioOscuro);
    border-bottom: 2px solid var(--blanco);
  }

  .carrito {
    margin-left: 20px;
  }