{% load static %}
<body>
    <header class="titulo">
        <a href="index.html">
            <img src='{% static "img/logo.png" %}' alt="logo Dressypet">
        </a>
        <a href="index.html">
            <h1>Dressy Pet</h1>
        </a>
    </header>  
    <nav class="navegador">
        <a class="enlace" href="{% url 'index'%}">Inicio</a>
        <a class="enlace" href="{% url 'nosotros'%}">Nosotros</a>
        <a class="enlace" href="{% url 'reservas'%}">Reserva tu hora</a>
        <a class="enlace" href="{% url 'trabajo' %}">Nuestro trabajo</a>
        <a class="enlace" href="{% url 'contacto' %}">Contáctanos</a>
        <a class="enlace dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if user.is_authenticated %}
                {{ user.username }}
            {% else %}
                <a class="enlace" href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">  
            <a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
        </div>
    </nav>