{% extends 'mascotas\base.html' %}
{% load static %}

    {% block content %}
    <table>
        {% if servicios %}
            <th>Producto</th>
            <th>Precio</th>
            {% for x in servicios %}
            <tr><td>{{ x.id_servicio }}</td>
                <td>{{ x.servicio }}</td>
                <td>{{ x.precio }}</td>
                <td><a href="{% url 'eliminar_servicio' pk=x.id_servicio %}">Eliminar</a></td>
                {% comment %} <td><a href="{% url 'modificar_servicio' pk=x.id_servicio %}">Modificar</a></td> {% endcomment %}
            </tr>
            {% endfor %}
        {% endif %}    
    </table>
        
    {% endblock %} 
