{% extends 'mascotas\base.html' %}
{% load static %}

   {% block content %}
    
        <h2>Quienes somos</h2>
        <div class="contenedor">
            <p>En nuestra peluquería, contamos con un equipo de empleados altamente capacitados para brindar los mejores servicios de belleza y cuidado de mascotas.</p>
        </div>
        <div class="contenedor_card">
            <div class="card">
                <img src='{% static "img/empleado1.jpg" %}' alt="Empleado 1">
                <h3>Juan Olguín</h3>
                <p>Estilista canino</p>
            </div>
        
            <div class="card">
                <img src='{% static "img/empleado2.jpeg" %}' alt="Empleado 2">
                <h3>Esteban Miranda</h3>
                <p>Especialista en baños caninos</p>
            </div>
        
            <div class="card">
                <img src='{% static "img/empleado3.jpg" %}' alt="Empleado 3">
                <h3>Francisca Rojas</h3>
                <p>Especialista en cuidado estético canino</p>
            </div>
        </div>

        <div class="cart-icon">
            <a href= "{% url 'carrito'%}" ><img src='{% static "img/1058965.png" %}' alt="Carrito de compras"></a>
        </div>
    {% endblock %} 
