{% comment %} {% extends 'mascotas\base.html' %}
{% load static %}

   {% block content %}
        <section id="reserva">
            <h2>¡RESERVE SU HORA CON NOSOTROS!</h2>
            <form id="formulario" class="contenedor" action="registrar_reserva" method="POST">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="nombre_cliente">Nombre cliente:</label>
                    <input type="text" id="nombre_cliente" class="form-control transparent-input" name="nombre_cliente">
                    <div id="errorNombre" class="error"></div>
                </div>

                <div class="form-group">
                    <label for="nombre_mascota">Nombre mascota:</label>
                    <input type="text" id="nombre_mascota" class="form-control transparent-input" name="nombre_mascota">
                    <div id="errorNombreMascota" class="error"></div>
                </div>

                <div class="form-group">
                    <label for="email">Ingrese su Email:</label>
                    <input type="email" id="email" class="form-control transparent-input" name="email">
                    <div id="errorEmail" class="error"></div>
                </div>

                <div class="form-group">
                    <label for="telefono">Ingrese su N° telefono:</label>
                    <input type="tel" id="telefono" class="form-control transparent-input" name="telefono">
                    <div id="errorTelefono" class="error"></div>
                </div>

                <div class="form-group">
                    <label for="fecha">Fecha para reservar:</label>
                    <input type="date" id="fecha" class="form-control transparent-input" name="fecha">
                    <div id="errorFecha" class="error"></div>
                </div>

                <label for="hora">Hora de reserva:</label>
                <input type="time" id="hora" name="hora">
                <div id="errorHora" style="color: red;" class="error"></div>

                <div class="form-group">
                    <label for="raza">Raza:</label>
                    <input type="text" id="raza" class="form-control transparent-input" name="raza">
                    <div id="errorRaza" class="error"></div>
                </div>
                
                <button id="bt_modal"type="submit" onclick=" return enviarFormulario()">Registar
                </button>
            </form>

        </section>
        <script src='{% static "funciones.js"%}'></script>
    {% endblock %}   {% endcomment %}