{% extends 'mascotas\base.html' %}
{% load static %}

   {% block content %}
    
        <h1 class="titulo-trabajo">
            Nuestro trabajo
        </h1>
        <div class="contenedor">
            <p class="cuerpo-trabajo">
                <br>
                Somos una peluquería para mascotas con más de 10 años de experiencia en el cuidado y mantenimiento de perros de todas las razas y tamaños. Nuestro equipo de profesionales está altamente capacitado para brindar el mejor servicio y atención a cada uno de nuestros clientes y sus dueños.
                <br>
                <br>
                En Peluquería Dressypet nos enorgullece brindar un ambiente tranquilo y amigable para nuestros clientes, lo que nos permite establecer relaciones duraderas con ellos y sus dueños. Nos esforzamos por ofrecer un servicio personalizado y de alta calidad para satisfacer las necesidades individuales de cada mascota.
            </p>
        </div>
    {% endblock %}
